<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item><ion-label position="floating">Nombre</ion-label><ion-input [(ngModel)]="nombre"></ion-input></ion-item>
  <ion-item><ion-label position="floating">Área</ion-label><ion-input [(ngModel)]="area"></ion-input></ion-item>
  <ion-item><ion-label position="floating">Puesto</ion-label><ion-input [(ngModel)]="puesto"></ion-input></ion-item>
  <ion-item><ion-label position="floating">Número de usuario</ion-label><ion-input [(ngModel)]="numero_usuario"></ion-input></ion-item>
  <ion-item><ion-label position="floating">Contraseña</ion-label><ion-input type="password" [(ngModel)]="password"></ion-input></ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="registrar()">Registrar</ion-button>

  <ion-text color="danger" *ngIf="mensaje">{{ mensaje }}</ion-text>
</ion-content>
